ul {
  width: 450px;
  position: relative;
  top: 50px;
  left: 25%;
}

li {
  float: left;
  display: block;
  border: 2px solid black;
  width: 126px;
  background-color: #ddd;
  text-align: center;
  height: 126px;
  font-size: 70px;
  line-height: 126px;
  padding: 10px;
}

li:hover {
  background-color: yellow;
  cursor: pointer;
}
